* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #fff;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 30px;
    background-color: yellow;
    border-bottom: 2px solid black;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    font-weight: bold;
}

.main-menu {
    text-align: center;
    margin-top: 60px;
}

.main-menu h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #333;
}

.menu-btn {
    display: block;
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    background-color: green;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}

.back-btn {
    display: inline-block;
    margin: 15px 0;
    padding: 8px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
}

.container {
    text-align: center;
    margin-top: 30px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: green;
    color: white;
}

form {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin: 5px;
    width: 250px;
    text-align: center;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
}


.profile-card {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
}

.name-section {
    border: 2px solid green;
    padding: 18px;
    font-weight: bold;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    font-size: 22px;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.card-box {
    border: 2px solid green;
    padding: 30px;
    background-color: #fff;
    font-size: 22px;
    min-height: 130px;
}

.card-box b {
    font-size: 28px;
    display: block;
    margin-top: 5px;
}

.card-box img {
    width: 90px;
}


.num-box {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
    background-color: #f9f9f9;
    line-height: 1.6;
}